body{
            background: #007faa;
            color:azure;
            font-size:20px;
        }
        .canvas{
            position:absolute;
            left:0px;
            bottom:0px;
        }
        #pic{
            text-align: center;
        }
        #uenoyatsu{
            background-color:#aa2f00
        }
        #cen{
            text-align: center;
        }
        .sidebar {
            font-size:30px;
            position:absolute;
            width: 330px;
            height:1200px;
            background-color: #007faa;
            box-sizing: border-box;
            border: 2px solid white;
        }
        .innercontent {
            top:120px;
            position:absolute;
            left:350px;
            border: 4px solid white;
        }
        #nameinp{
            background-color:#007494;
            color:azure;
            
        }
        .foot{
            background-color: navy;
            border: 2px solid azure;
            left:0px;
            top:1600px;
            width:100%;
            position:absolute;
        }
        a{
            color: #fff;
            font-size: 50px;
        }
        lb{
            color:rgb(144, 164, 170);
        }