body{
            background: #007faa;
            color:azure;
            font-size:20px;
        }
        .canvas{
            cursor:none;
            position:absolute;
            left:0px;
            bottom:0px;
        }
        #pic{
            cursor:pointer;
            text-align: center;
        }
        c{
            color:#7ee9ff;
        }
        #rank{
            font-size:20px;
        }
        #uenoyatsu{
            background-color:#aa2f00;
            outline: 10px solid #7c2300;
        }
        #cen{
            text-align: center;
        }
        .sidebar {
            font-size:30px;
            position:relative;
            width: 330px;
            height:100%;
            background-color: #007faa;
            box-sizing: border-box;
            border: 2px solid white;
        }
        .innercontent {
            cursor:default;
            position:absolute;
            left:350px;
            border: 4px solid white;
        }
        #nameinp{
            background-color:#007494;
            color:azure;
            outline: 3px solid white;
            position:absolute;
            left:10px;
            width:120px;
            height:30px;
        }
        #curve{
            transform:scale(-1,1)
        }
        #namesbm{
            background-color:#007494;
            color:azure;
            outline: 3px solid white;
            position:absolute;
            left:140px;
            width:70px;
            height:30px;
        }
        #report{
            background-color:#007494;
            color:azure;
            outline: thick double azure;
            position:relative;
            left:10px;
            width:300px;
            height:50px;
            top:10px;
        }
        #reportsbm{
            background-color:#007494;
            color:azure;
            outline: 3px solid azure;
            position:relative;
            left:20px;
        }
        #intro{
            border: 0.5rem outset #aa2f00;
        }
        #reportsbm:disabled {
            background-color: gray;
        }
        .foot{
            background-color: navy;
            border: 2px solid azure;
            left:0px;
            top:2250px;
            width:100%;
            position:absolute;
        }
        a{
            color: #fff;
            font-size: 50px;
        }
        lb{
            color:rgb(144, 164, 170);
        }